<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h4>{{user.displayName}}'s Details</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-8">
      <div class="tab-panel">
        <tabset class="user-tabset">
          <tab heading="About" class="p-3">
            <div class="input-group mb-2">
              <div class="input-group-prepend text-right">
                <div class="input-group-text input-group-label">Username</div>
              </div>
              <div class="form-control text-muted">{{user.username}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text input-group-label">Name</div>
              </div>
              <div class="form-control text-muted">{{user.displayName}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend text-right">
                <span class="input-group-text input-group-label">Email</span>
              </div>
              <div class="form-control text-muted">{{user.email}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend text-right">
                <span class="input-group-text input-group-label">Phone</span>
              </div>
              <div class="form-control text-muted">{{user.phoneNumber}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-label">Role</span>
              </div>
              <div class="form-control text-muted">{{role.roleName}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-label">Activated</span>
              </div>
              <div class="form-control">
                <input type="checkbox" disabled="disabled" [(ngModel)]="user.accountConfirmed" name="accountConfirmed"
                  class="form-control-sm" />
              </div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-label">Locked</span>
              </div>
              <div class="form-control">
                <input type="checkbox" disabled="disabled" [(ngModel)]="user.lockedOutEnabled" name="lockedOutEnabled"
                  class="form-control-sm" />
              </div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-label">Locked till</span>
              </div>
              <div class="form-control text-muted">{{user.lockedOutEnd}}</div>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text input-group-label">Fail count</span>
              </div>
              <div class="form-control text-muted">{{user.accessFailedCount}}</div>
            </div>
          </tab>
        </tabset>
      </div>
      <div class="btn-group d-flex mt-3">
        <a class="btn btn-warning" [routerLink]="['/admin/system/users']">
          <i class="fa fa-arrow-left pr-2"></i>Back
        </a>
        <a class="btn btn-primary" [routerLink]="['/admin/system/users/edit', user.userId]">
          <i class="fa fa-edit pr-2"></i>Edit
        </a>
        <a class="btn btn-danger">
          <i class="fa fa-trash pr-2"></i>Delete
        </a>
      </div>
    </div>
    <div class="col-md-3 col-sm-4"></div>
  </div>
</div>
