/* .card-header:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 900ms;
  transition-timing-function: ease-in-out;
}

.card-header {
  transform: scale(1.0, 1.0);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card {
  overflow: hidden;
} */


.card-header {
  overflow: hidden;
  position: relative;
}

.card-header-link {
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  /* text-align: right; */
}

.card-header:hover .card-header-link {
  bottom: 0;
  opacity: 1;
}

.animate {
  transition: all 0.5 ease-in-out;
}
