<div class="container mt-5">
  <div style="text-align: center">
    <h1>Where the standard is gold!</h1>
    <p class="lead">Select a design and book a fitting appointment.</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-1" [routerLink]="['/register']">Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>
